* {
	font-family: Arial;
}

body {
	height: 100%;
	background: #111c2f;
}

a:link, a:visited {

	color: #008FFB;
	text-decoration: none;

}

#tradingviewContainer {

	position: absolute;
	padding-left: 2%;
	padding-top: 1%;

}

#toolbar {

	color: #DDDDDD;
	font-size: 26px;
	width: 80%;

}

b {

	margin-left: 60px;

}

.button {

	background-color: #006093;
	border: none;
	color: white;
	padding: 8px 8px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	border-radius: 4px;
	width: 40px;
	vertical-align: text-bottom;

}